[google-chrome]
name=google-chrome - \$basearch
baseurl=https://dl.google.com/linux/direct/google-chrome-stable_current_x86_64.rpm
enabled=1
gpgcheck=1
gpgkey=https://dl-ssl.google.com/linux/linux_signing_key.pub
