[Desktop Entry]
Encoding=UTF-8
Name=Eclipse
Comment=Eclipse IDE
Exec=/apps/eclipse/eclipse
Icon=/apps/eclipse/eclipse.xpm
Terminal=false
Type=Application
Categories=GNOME;Application;Development;IDE;
StartupNotify=true
