#! /bin/sh
#
# chkconfig: 35 90 12
# description: mailhog
#

. /etc/init.d/functions

start() {
        initlog -c "echo -n Starting mailhog : "
        {{mailhog.dir}}/mailhog &
        touch /var/lock/subsys/mailhog.lock
        success $"Mailhog is running"
        echo
}

stop() {
        initlog -c "echo -n Stopping mailhog : "
        killproc mailhog
        rm -f /var/lock/subsys/mailhog.lock
        echo
}


### main logic ###
case "$1" in
  start)
        start
	;;
  stop)
       	stop
	;;
  status)
        status mailhog
        ;;
  restart|reload|condrestart)
        stop
	start
	;;
  *)
    	echo $"Usage: $0 {start|stop|restart|reload|status}"
        exit 1
esac

exit 0
