#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Eclipse
Name[en_US]=Eclipse
Icon={{eclipse.dir}}/eclipse.png
Icon[en_US]={{eclipse.dir}}/eclipse.png
Exec={{eclipse.dir}}/eclipse
Comment=Eclipse IDE
Comment[en_US]=Eclipse IDE
Categories=Application;Development;IDE;Java;
Terminal=false
